{% extends 'chemical/base.html' %}
{% block title %}Formula{% endblock %}
{% block body %}

{% if all_formula %}
   <div class = "container">
        <ul>
            {% for formula in all_formula %}
            <li> <a href = "{% url 'chemical:batch' formula.id %}"> {{ formula.name }} </a> </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <h1>No Formulas</h1>
{% endif %}

 <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Start a New Formula</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'chemical/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}