{% extends 'chemical/base.html' %}
{% block title %}Chemical Database{% endblock %}
{% block add %}
     <li>
        <a href="{% url 'chemical:create_chemical' %}" 
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Chemical
        </a>
    </li>
{% endblock %}
{% block body %}

{% if all_chemical %}
   
    <ul>
        {% for chemical in all_chemical %}
        <li> <a href = "{% url 'chemical:chemical_detail' chemical.id %}"> {{ chemical.name }} </a> </li>
        {% endfor %}
    </ul>
{% else %}
    <h1>No Chemicals</h1>
{% endif %}

{% endblock %}
