{% extends 'intro/navigation.html' %}
{% block title %}Chemical Database{% endblock %}

{% block body %}

{% if all_chemical %}
   <div class = "container">
       <ol type = "1">
        {% for chemical in all_chemical %}
        <li> <a href = "{% url 'chemical' chemical.id %}"> {{ chemical.name }} </a> </li>
        {% endfor %}
    </ol>
       
   </div>
    
{% else %}
    <h1>No Chemicals</h1>
{% endif %}

<div class="row">

    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Add a New Chemical</h3>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'intro/form_template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
